.medium{
	font-weight: 200;
}

.light{
	font-weight: 100;
}

.txt-gray{
	color: $color-1;
}

.txt-white{
	color: $white;
}

.txt-gray-dark{
	color: $color-2;
}

.txt-coral{
	color: $color-3;
}

.width{
	width: 100%;
}

.height{
	height: 30rem;
}

.right{
	margin-right: 8.333333333333332%;
}